@CHARSET "EUC-KR";

#wrapper {
	width: 96%;
	margin: 0 auto;
}

header { /* 헤더 */
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
}

.header-text {
	font-size: 32px;
	color: white;
	text-align: center;
	line-height: 120px;
}

.content { /* 본문 */
	width: 100%;
	height: 400px;
	padding: 1.5625%;
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
}

footer { /* 푸터 */
	clear: both;
	width: 100%;
	height: 120px;
	background-color: rgba(0, 0, 0, 0);
}


* {
	box-sizing: border-box;
}

.video-background {
	background: #000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
}

.video-foreground, .video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

@media ( min-aspect-ratio : 16/9) {
	.video-foreground {
		height: 300%;
		top: -100%;
	}
}

@media ( max-aspect-ratio : 16/9) {
	.video-foreground {
		width: 300%;
		left: -100%;
	}
}

h1 {
	color: black;
}

.body {
	width: 100%;
	height: auto;
	padding-top: 23vh;
}

.logo, .signup-form__logo {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-image: url(/project/resources/img/logo.png);
	background-repeat: no-repeat;
}

.logo, .signup-form__title {
	display: inline-block;
	width: 100%;
	height: 100px;
	padding-top: 5%;
	padding-bottom: 10%;
	background-position:center;
	background-size: contain;
	background-image: url(/project/resources/img/title-white.png);
	background-repeat: no-repeat;
}

body {
	background-color: #eee;
}

.signup-form {
	width: 100%;
	height: 100%; 
	margin-left : auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	width: auto;
	/* padding: 50px 0; */
	border-radius: 4px;
	font-size: 16px;
	margin-left: auto;
}

.signup-form-logo {
	width: 200px;
	margin-top: 20%; margin-left : auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 0, 0);
	width: 300px;
	/* padding: 50px 0; */
	border-radius: 4px;
	font-size: 16px;
	margin-left: auto;
}

.signup-form a {
	color: #FFFFFF;
}

@media ( max-width 540px) {
	.signup-form {
		width: 310px;
		background-color: #eeeeee;
	}
}

.signup-form__logo-box {
	margin-top: 8%;
	margin-bottom: 3%;
	padding-top: 5%;
}

.signup-form__title-box {
	margin-bottom: 40px;
}

@media ( max-width 350px) {
	.signup-form__logo-box {
		margin-bottom: 24px;
	}
}

.singup-form__logo {
	margin-bottom: 6px;
}

.signup-form__catchphrase {
	color: #757c80;
	font-size: 12px;
	font-weight: bold;
}

.signup-form__submit, .signup-form__submit--login {
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
	width: 300px;
	height: 40px;
	line-height: 40px;
	background-color: #25c6ff;
	color: #FFF;
	font-weight: bold;
	outline: none;
}

.signup-form__submit--login {
	background-color: #6d7084;
}

.input[type=text]:focus {
	border: 3px solid #555;
	border-radius: 5px;
	background-color: lightblue;
	box-sizing: border-box;
}

.input[type=password]:focus {
	border: 3px solid #555;
	border-radius: 5px;
	background-color: lightblue;
	box-sizing: border-box;
}

.modalregistposition {
	padding-top: 20vh;
}

.modalloginposition {
	padding-top: 28vh;
}

.modalbookcaseposition {
	padding-top: 15vh;
}

.w3-container {
	padding: 0.01em 16px;
}

.w3-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}