<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ariarose.team.project.model.LeisureDAO">
 	<select id="getListLeisure" parameterType="LeisureVO" resultType="LeisureVO">
 		SELECT * FROM LEISURE;
 	</select>
 </mapper>